.shop-container {
  display: grid;
  background-color: aliceblue;
  grid-template-columns: 4fr 2fr;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  margin: 100px 50px;
}
.cart-container {
  margin-left: 40px;
  padding-left: 30px;
  background-color: white;
}

/* for mobile devices */
@media screen and (max-width: 768px) {
  .shop-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .product-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 45px;
    padding-left: 30px;
  }
  .cart-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-right: 50px;
    margin-bottom: 50px;
    border-radius: 25px;
    padding-top: 25px;
  }
}
