.header {
  display: flex;
  background-color: orange;
}

.header img {
  width: 100px;
  height: 90px;
  padding-left: 20px;
  padding-right: 15px;
}
.menu a {
  text-decoration: none;
  color: black;
}
.menu {
  align-items: center;
  display: flex;
  margin-left: 700px;
  gap: 30px;
  font-weight: 500;
}
.menu a:hover {
  color: red;
}
